body {
    background-color: #EDEDED;
    color: #292828; 
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.section-title {
    margin: 7rem 0 2rem;
    text-align: center;
    font-size: 4em;
    font-weight: bold;

    @media (max-width:1200px) {
        font-size: 1.5em;
    }
}

.card-title-style {
    margin-top: 1rem;
    font-size: 2.25em;
    font-weight: 600;

    @media (max-width:1200px) {
        font-size: 1.25em;
    }
}

/* Navbar - Start */
.logo-size {
    width: 32%;
    @media (max-width: 1200px) {
        width: 40px;
        aspect-ratio: 40 / 33.5;
        object-fit: cover;
    }
}

.nav-bar-text {
    font-size: 1.5em;
    color: #3F3C3C !important;
    text-decoration: none;
}

.sale-text {
    font-size: 1.5em;
    color: #B73A2A !important;
    text-decoration: none;
}

.sale-text:hover {
    color: #D76151 !important;
    text-decoration: underline;
}

.nav-bar-text:hover {
    color: #982A1C !important;
    text-decoration: underline;
}

.bg-nav {
    background-color: #EDEDED;
}
/* Navbar - End */

/* Hero Image - Start */
.hero-container {
    width: 100%;
    position: relative;
}

.hero-image {
    width: 100%;
    aspect-ratio: 500 / 330;
    @media (max-width: 1200px) {
        margin-top: 56px;
        object-fit: cover;
        object-position: 38% 100%;
        min-height: 332px;
    }
}

.hero-banner-text {
    background-color: #181818CC;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 3em;
    width: fit-content;
    padding: 34px 32px;
    position: absolute;
    top: 67.5%;
    left: 6%;
    @media (max-width:1200px) {
        font-size: 1.25em;
        padding: .5rem;    
        top: 66%;
        left: 2%;
    }
}

.promo-text {
    text-align: center;
    font-size: 12px;
    padding: 1rem 0rem;
    color: #FFFFFF;
    width: 100%;
    margin: 0;
    
    @media (min-width: 1200px) {
        font-size: 1.5em;
        padding: 2rem 0rem;
        position: absolute;
        bottom: 0;   
    }
}
/* Hero Image - End */

/* Start Cooking - Start */
.start-cooking-container {
    margin: 0 7% 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(174px, 1fr));
    gap: 3rem;
}

/* .start-cooking-cards {
    width: fit-content;
} */

.image-crop {
    width: 100%;
    /* height: 347px; */
    border-radius: 10px;
    aspect-ratio: 379 / 402;
    object-fit: cover;
}
/* Start Cooking - End */

/* New Arrivals - Start */
.new-arrivals-container {
    margin: 0 7% 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
    gap: 2rem;
}

.new-arrivals-image {
    width: 100%;
    aspect-ratio: 805 / 632;
    object-fit: cover;  
}
/* New Arrivals - End */

/* Best Sellers - Start */
.best-sellers-container {
    margin: 0 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(419px, 1fr));
    gap: 5rem;
}

.best-sellers-card {
    /* min-width: 420px; */
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 24px;
}

.best-sellers-image {
    width: 100%;
    aspect-ratio: 395 / 310;
    object-fit: cover;
    border-radius: 10px;
}

.shop-now-btn {
    color: #292828;
    background-color: transparent;
    width: 9.938rem;
    height: 2.625rem;
    border: 1px solid #292828;
}

.shop-now-btn:hover {
    color: #FFFFFF;
    background-color: #1E2C20;

}
/* Best Sellers - End */

/* Reviews - Start */
.review-container {
    margin: 0 7% 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(411px, 1fr));
    gap: 2rem;
    @media (max-width:1200px) {
        margin-left: 0;
    }
}

.review-card {
    /* width: 531px;
    height: 664.751px; */
    aspect-ratio: 531 / 664.751;
    border-radius: 10px;
    color: #FFFFFF;
}

.review-bg-1 {
    background-image: url(../assets/Reviews1.jpg);
    background-size: cover;
    background-position: 25% 100%;
}

.review-bg-2 {
    background-image: url(../assets/Reviews2.jpg);
    background-size: cover;
    background-position: 33% 100%;
}

.review-bg-3 {
    background-image: url(../assets/Reviews3.jpg);
    background-size: cover;
    background-position: 25% 50%;
    
}

.grey-box-overlay {
    margin: 30% 10% 0;
    height: 345px;
    background-color: #12121299;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 73px 28px;
}

.review-card-title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.review-text {
    font-size: 1.125em;
    font-weight: 400;
}

.reviewer-name {
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
}
/* Reviews - End */

/* Footer - Start */
.bg-footer-promo {
    background-color: #1E2C20;
}

.footer-row {
    padding: 5rem 7rem 3rem;
    display: flex;
    justify-content: space-between;

    @media (max-width:1200px) {
        flex-direction: column;
        padding: 3rem 1rem;        
    }
}

.footer-links {
    display: flex;
    gap: 2rem 6rem;

    @media (max-width: 1200px) {
        order: 1;
        flex-wrap: wrap;
    }
}

.stay-connected {
    max-width: 410px;
    margin-right: 1rem;

    @media (max-width:1200px) {
        margin-bottom: 2rem;
    }
}

/* .subscription-text {
} */

.link-section {
    flex-direction: column;
    flex-shrink: 0;
}

.link-section > p {
    font-weight: 100;
}

.links-title {
    font-size: 1.25em;
    font-weight: 600;
}

.footer-text {
    color: #FFFFFF;
}

.email-submission {
    display: flex;
}

.email-form {
    margin-right: .3rem;
    font-size: .75em;
    vertical-align: middle;
    color: #B1B5BB;
    padding-top: .75rem;
    padding-left: .3rem;
    padding-right: 8rem;
    background-color: #E5E7EB;
    @media (max-width:1200px) {
        padding-right: 7rem;
        
    }
}

.subscribe-btn {
    margin-bottom: 1rem;
    color: #FFFFFF;
    background-color: transparent;
    width: 9.938rem;
    height: 2.625rem;
    border: 1px solid #FFFFFF;
}

.icon-margin {
    margin-bottom: 1rem;
}
/* Footer - End */

